<aside class="app-sidebar sticky" id="sidebar">
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-left"></div>
    <div class="bottom-right"></div> <!-- Start::main-sidebar-header -->
    <!-- End::main-sidebar-header --> <!-- Start::main-sidebar -->
    <div class="main-sidebar simplebar-scrollable-y" id="sidebar-scroll" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: -8px 0px -80px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 8px 0px 80px;"> <!-- Start::nav -->
                            <nav class="main-menu-container nav nav-pills flex-column sub-open open active">
                                <div class="slide-left active d-none" id="slide-left"> <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z">
                                        </path>
                                    </svg> </div>
                                <ul class="main-menu" style="display: block; margin-left: 0px; margin-right: 0px;">
                                    <!-- Start::slide -->
                                    <li class="slide has-sub active open"> <a href="javascript:void(0);" class="side-menu__item active"> <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 256 256">
                                                <rect width="256" height="256" fill="none"></rect>
                                                <path d="M152,208V160a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v48a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V115.54a8,8,0,0,1,2.62-5.92l80-75.54a8,8,0,0,1,10.77,0l80,75.54a8,8,0,0,1,2.62,5.92V208a8,8,0,0,1-8,8H160A8,8,0,0,1,152,208Z" opacity="0.2"></path>
                                                <path d="M152,208V160a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v48a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V115.54a8,8,0,0,1,2.62-5.92l80-75.54a8,8,0,0,1,10.77,0l80,75.54a8,8,0,0,1,2.62,5.92V208a8,8,0,0,1-8,8H160A8,8,0,0,1,152,208Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                                            </svg> <span class="side-menu__label">Dashboards</span> <i class="fe fe-chevron-right side-menu__angle"></i> </a>
                                        <ul class="slide-menu child1 active" style="position: relative; left: 0px; top: 0px; margin: 0px; box-sizing: border-box; transform: translate3d(12px, 208px, 0px); display: block;" data-popper-placement="bottom" data-popper-escaped="">
                                            <li class="slide side-menu__label1"> <a href="javascript:void(0)">Dashboards</a> </li>
                                            <li class="slide active"> <a routerLink="device" class="side-menu__item active">Device 1</a> </li>
                                            <li class="slide"> <a href="javascript:void(0)" class="side-menu__item">Device 2</a> </li>
                                            <li class="slide"> <a href="javascript:void(0)" class="side-menu__item">Device 3</a> </li>
                                            <li class="slide"> <a href="javascript:void(0)" class="side-menu__item">Device 4</a> </li>
                                        </ul>
                                    </li> <!-- End::slide --> <!-- Start::slide -->
                                    <li class="slide has-sub"> <a href="javascript:void(0);" class="side-menu__item"> <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 256 256">
                                                <rect width="256" height="256" fill="none"></rect>
                                                <rect x="152" y="40" width="56" height="168" opacity="0.2">
                                                </rect>
                                                <polyline points="48 208 48 136 96 136" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
                                                <line x1="224" y1="208" x2="32" y2="208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                                                <polyline points="96 208 96 88 152 88" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
                                                <polyline points="152 208 152 40 208 40 208 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
                                            </svg> <span class="side-menu__label">Charts</span> <i class="fe fe-chevron-right side-menu__angle"></i> </a>
                                        <ul class="slide-menu child1" style="position: relative; left: 0px; top: 0px; margin: 0px; transform: translate3d(186.4px, 300px, 0px);" data-popper-placement="top" data-popper-reference-hidden="" data-popper-escaped="">
                                            <li class="slide side-menu__label1"> <a href="javascript:void(0)">Charts</a> </li>
                                            <!-- <li class="slide has-sub"> <a href="javascript:void(0);"
                                                    class="side-menu__item">Apex Charts <i
                                                        class="fe fe-chevron-right side-menu__angle"></i></a>
                                                <ul class="slide-menu child2">
                                                    <li class="slide"> <a href="apex-line-charts.html"
                                                            class="side-menu__item">Line Charts</a> </li>
                                                    <li class="slide"> <a href="apex-area-charts.html"
                                                            class="side-menu__item">Area Charts</a> </li>
                                                    <li class="slide"> <a href="apex-column-charts.html"
                                                            class="side-menu__item">Column Charts</a> </li>
                                                    <li class="slide"> <a href="apex-bar-charts.html"
                                                            class="side-menu__item">Bar Charts</a> </li>
                                                    <li class="slide"> <a href="apex-mixed-charts.html"
                                                            class="side-menu__item">Mixed Charts</a> </li>
                                                    <li class="slide"> <a href="apex-rangearea-charts.html"
                                                            class="side-menu__item">Range Area Charts</a> </li>
                                                    <li class="slide"> <a href="apex-timeline-charts.html"
                                                            class="side-menu__item">Timeline Charts</a> </li>
                                                    <li class="slide"> <a href="apex-funnel-charts.html"
                                                            class="side-menu__item">Funnel Charts</a> </li>
                                                    <li class="slide"> <a href="apex-candlestick-charts.html"
                                                            class="side-menu__item">CandleStick Charts</a> </li>
                                                    <li class="slide"> <a href="apex-boxplot-charts.html"
                                                            class="side-menu__item">Boxplot Charts</a> </li>
                                                    <li class="slide"> <a href="apex-bubble-charts.html"
                                                            class="side-menu__item">Bubble Charts</a> </li>
                                                    <li class="slide"> <a href="apex-scatter-charts.html"
                                                            class="side-menu__item">Scatter Charts</a> </li>
                                                    <li class="slide"> <a href="apex-heatmap-charts.html"
                                                            class="side-menu__item">Heatmap Charts</a> </li>
                                                    <li class="slide"> <a href="apex-treemap-charts.html"
                                                            class="side-menu__item">Treemap Charts</a> </li>
                                                    <li class="slide"> <a href="apex-pie-charts.html"
                                                            class="side-menu__item">Pie Charts</a> </li>
                                                    <li class="slide"> <a href="apex-radialbar-charts.html"
                                                            class="side-menu__item">Radialbar Charts</a> </li>
                                                    <li class="slide"> <a href="apex-radar-charts.html"
                                                            class="side-menu__item">Radar Charts</a> </li>
                                                    <li class="slide"> <a href="apex-polararea-charts.html"
                                                            class="side-menu__item">Polararea Charts</a> </li>
                                                </ul>
                                            </li> -->
                                            <li class="slide"> <a href="javascript:void(0)" class="side-menu__item">Chartjs Charts</a> </li>
                                            <li class="slide"> <a href="javascript:void(0)" class="side-menu__item">Echart Charts</a> </li>
                                        </ul>
                                    </li> <!-- End::slide --> <!-- Start::slide -->
                                    <!-- End::slide --> 
                                    <li class="slide"> <a href="javascript:void(0)" class="side-menu__item"> <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 256 256">
                                                <rect width="256" height="256" fill="none"></rect>
                                                <polygon points="152 32 152 88 208 88 152 32" opacity="0.2">
                                                </polygon>
                                                <path d="M200,224H56a8,8,0,0,1-8-8V40a8,8,0,0,1,8-8h96l56,56V216A8,8,0,0,1,200,224Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                                                <polyline points="152 32 152 88 208 88" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
                                            </svg> <span class="side-menu__label">Forms</span> </a> </li>
                                     <!-- Start::slide -->
                                    <li class="slide"> <a href="javascript:void(0)" class="side-menu__item"> <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 256 256">
                                        <rect width="256" height="256" fill="none"></rect>
                                        <rect x="48" y="48" width="160" height="160" rx="8" opacity="0.2"></rect>
                                        <rect x="48" y="48" width="160" height="160" rx="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></rect>
                                        <line x1="128" y1="48" x2="128" y2="208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                                        <line x1="48" y1="128" x2="208" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                                    </svg> <span class="side-menu__label">Tables</span> </a> </li>
                                </ul>
                                <div class="slide-right d-none" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z">
                                        </path>
                                    </svg></div>
                            </nav> <!-- End::nav -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: 254px; height: 432px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; transform: translate3d(0px, 0px, 0px); display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar" style="height: 35px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    <div class="simplebar-track simplebar-horizontal"><div class="simplebar-scrollbar"></div></div><div class="simplebar-track simplebar-vertical"><div class="simplebar-scrollbar"></div></div></div> <!-- End::main-sidebar -->
</aside>